<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html" charset=UTF-8>
  </head>

  <body>
    <p>The project you applied to has been approved by the NPO.</p>
    <br>
    <p>---The Givr Team.</p>
  </body>

</html>
