
<div>
<p>
    Hi <%= @user.email %>, you are registered as a 

    <% if @user.role == 'npo' %>
    non-profit
    <% elsif @user.role == 'professional' %>
    professional
    <% end %>
    . In this page, you can view your your applications and past projects.

</p>
</div>

<div class="profile_view_nav">
    <ul>
        
        <li>
            <%= link_to user_applications_path(status: 'apply'), class: 'profile_view_button' do %>
            <div id='profile_view_button'>Applications</div>
            <% end %>
        </li>
        <li>
            <%= link_to user_projects_path, class: 'profile_view_button' do %>
            <div id='profile_view_button'>Projects</div>
            <% end %>
        </li>

        <% if @user.role == 'professional' %>
            <li>
                <%= link_to user_applications_path(status: 'shortlist'), class: 'profile_view_button' do %>
                <div id='profile_view_button'>Shortlisted projects</div>
                <% end %>
            </li>
        <% end %>

    </ul>

</div>

<div class="profile_view">



</div>