<div class="header">
    <div class="logo">
        <h1>Givr</h1>
    </div>

    <div class="nav">

        <ul>

        <li><%= link_to 'Home', root_path %></li>

        <li><%= link_to 'Projects', projects_path %></li>

        <li>Post a project</li>

        </ul>

    </div>

    <div class="login">
        <ul>

        <li>Sign up</li>

        <li>Log in</li>

        </ul>
    </div>

</div>

<div class="header" id="static">

</div>
