<div class="header">
    <div>
        <h1>Givr</h1>
    </div>

    <div>
        <p>Home</p>
    </div>

    <div> 
        <p>Projects</p>
    </div>

    <div>
        <p>Log in</p>
    </div>

</div>

<div class="header" id="static">

</div>


<div class="intro" id="who_are_we">

    <div>
        <h2>Who are we?</h2>
    </div>
    <div>
        <p>Horrible Histories is a children's sketch-comedy adaptation of Terry Deary's long-running book series, produced by Lion Television with Citrus Television, that ran for five 13-episode series on Britain's CBBC from 2009 to 2013.</p>
    </div>

</div>

<div class="intro" id="professionals">

    <div>
        <h2>For professionals</h2>
    </div>
    <div>
        <p>Horrible Histories is a children's sketch-comedy adaptation of Terry Deary's long-running book series, produced by Lion Television with Citrus Television, that ran for five 13-episode series on Britain's CBBC from 2009 to 2013.</p>
    </div>

</div>

<div class="intro" id="nonprofits">

    <div>
        <h2>For non-profits</h2>
    </div>
    <div>
        <p>Horrible Histories is a children's sketch-comedy adaptation of Terry Deary's long-running book series, produced by Lion Television with Citrus Television, that ran for five 13-episode series on Britain's CBBC from 2009 to 2013.</p>
    </div>

</div>

<div class="intro" id="companies">

    <div>
        <h2>For companies</h2>
    </div>
    <div>
        <p>Horrible Histories is a children's sketch-comedy adaptation of Terry Deary's long-running book series, produced by Lion Television with Citrus Television, that ran for five 13-episode series on Britain's CBBC from 2009 to 2013.</p>
    </div>

</div>

<div class="footer">

    <div><p>About</p></div>
    <div><p>Contact</p></div>

</div>