
<!-- <script type="text/javascript" src="scroll.js"></script> -->

<%= render 'shared/header' %>
<%= render 'shared/alt_header' %>


<div class="intro" id="who_are_we">

    <div class="headline">
        <h2>Give back to the community with Givr</h2>
    </div>
    <div class="subtitle">
        <h2>Givr is a marketplace of pro bono projects in the GTA area.</h2>
        <h2>We help non-profit organizations find the talent they need.</h2>
        <h2>And we help professionals channel their experience to better our city. </h2>
    </div>
    <div class="logo"><%= link_to image_tag("logo_full.png"), root_path %></div> 
</div>
<div class="front_page_background"></div>

<div class="divider"></div>

<div class="intro" id="professionals">

    <div>
        <h2>For professionals</h2>
    </div>
    <div>
        <p>"Spinning Around" is the lead single from Light Years (2000), Kylie Minogue's seventh studio album. The disco-influenced dance-pop song addresses the theme of reinvention, with Minogue (pictured performing the song) claiming that she has changed as a person and learned from the past. Released in June 2000, it received favourable reviews from music critics, who regarded it as one of the album's highlights and praised Minogue for returning to her signature musical style. The song was a commercial success and became Minogue's "comeback" single following the critical and commercial disappointment of her sixth studio album Impossible Princess (1997). It entered the Australian Singles Chart at number one, becoming the singer's first chart-topper since "Confide in Me" (1994).</p>
    </div>

</div>

<div class="divider"></div>

<div class="intro" id="nonprofits">

    <div>
        <h2>For non-profits</h2>
    </div>
    <div>
        <p>"Spinning Around" is the lead single from Light Years (2000), Kylie Minogue's seventh studio album. The disco-influenced dance-pop song addresses the theme of reinvention, with Minogue (pictured performing the song) claiming that she has changed as a person and learned from the past. Released in June 2000, it received favourable reviews from music critics, who regarded it as one of the album's highlights and praised Minogue for returning to her signature musical style. The song was a commercial success and became Minogue's "comeback" single following the critical and commercial disappointment of her sixth studio album Impossible Princess (1997). It entered the Australian Singles Chart at number one, becoming the singer's first chart-topper since "Confide in Me" (1994).</p>
    </div>

</div>

<div class="join">
    

</div>
<div class="projects_overlay_transparent hidden"></div>