<div class="search_bar ui secondary vertical menu">
    <div class="filter_group ui dropdown link item">Skill category
        <div class="menu ui transition">
            <a class="item">test 1</a>
            <a class="item">test 2</a>
            <a class="item">test 3</a>
        </div>
    </div>
    <div class="filter_group ui dropdown link item">Cause
        <div class="menu ui transition">
            <a class="item">test 4</a>
            <a class="item">test 5</a>
            <a class="item">test 6</a>
        </div>
    </div>
    <div class="filter_group ui dropdown link item">Location
        <div class="menu ui transition">
            <a class="item">test 7</a>
            <a class="item">test 8</a>
            <a class="item">test 9</a>
        </div>
    </div>
</div>