<%= render 'shared/alt_header' %>
<%= render 'shared/alt_static' %>

<div class="projects_search">

    <ul class="search_bar">FIND A PROJECT

        <li><ul>CATEGORY
                <li>Marketing</li>
                <li>Finance</li>
                <li>Database</li>
                <li>Web</li>
                <li>External research</li>
                <li>Internal research</li>
                <li>Fundraising</li>
                <li>Event organization</li>
                <li>Legal</li>
            </ul>
        </li>
        <li>
            <ul>CAUSE
                <li>Animal</li>
                <li>Social</li>
                <li>Arts/Cultural</li>
                <li>Religious</li>
                <li>Political</li>
            </ul>
        </li>
        <li>
            <ul>LOCATION
                <li>Downtown Toronto</li>
                <li>Etobicoke</li>
                <li>Mississauga</li>
                <li>North York</li>
                <li>Scarborough</li>
                <li>Hamilton</li>
                <li>Ajax</li>
            </ul>
        </li>

    </ul>

</div>

<div class="projects_show">

    <% 20.times do %>

        <div class="project_card">

            <div class="project_header">
                <h1>Make a Web App for Toronto Feral Cat Project</h1>
            </div>
            <div class="project_details">

                <h3>Project details</h3>
                <p>We are looking for a volunteer to build a web app to automate the registration process for the monthly workhop we are running. Currently, our volunteers are manually copying...</p>
   
                <h3>Length: 4 weeks</h3>

            </div>

        </div>

    <% end %>

</div>

