
$('.projects_detail').html("<%= j(render @project)  %><%= j(if current_user; if current_user.role == 'professional'; link_to 'Apply', project_applications_path(@project, todo: 'apply'), class: 'do_project', data: {todo: 'apply'}, method: 'POST' end end) %><%= j(if current_user; if current_user.role == 'professional'; link_to 'Shortlist', project_applications_path(@project, todo: 'shortlist'), class: 'do_project', data: {todo: 'shortlist'}, method: 'POST' end end) %><div class='fb-like' data-href='http://www.google.com' data-width='50' data-layout='button_count' data-action='like' data-show-faces='false' data-share='false'></div><%= j( link_to 'Close', projects_path, id: 'close_project' ) %>");


