// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "font-awesome";

// Variables:

$font-stack: "Raleway", serif;

$primary-color: #76D7B3;
$accent-color: #3D9977;
$text-color: #888888;
$box-shadow-color: #888888;
$light-gray: #EEEEEE;
$active-color: #9EE8FF;
$very-light-gray: #FAFAFA;
/*#01775B;*/

/* ----------------------- across the whole document ---------------------- */

body {
  font-family: $font-stack;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
    }

.hidden {
  display: none;
}

.clicked {
  background-color: rgba(175,175,175,0.5);
  color: white !important;
}

  .noTextSelectCursor {
    cursor: default;
  }

  .icon_left {
    margin-right: 0.5rem;
  }

  .icon_right {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    right: 0;

  }

.background_div {
    height: 100%;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

/* -------------------------- header and footer ------------------------- */



.header {
  color: $text-color;
  position: fixed;
  top: 0;
  background-color: $primary-color;
  z-index: 1;
  height: 4.5rem;
  width: 100%;
  z-index: 21;
  opacity: 1;

  .logo {
    position: absolute;
    margin-top: 0.22rem;
    margin-left: 3rem;

    img {
      height: 3rem;

    }
  }


  .login {
    position: absolute;
    right: 2rem;
    margin-top: 0.5rem;

    li {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1rem;

    }
  }

  .nav {
    position: absolute;
    right: 3rem;
    height: 100%;
    
    ul {
      height: 100%;
      overflow: none;
    }

    .li {
      position: relative;
      margin-left: -0.25rem;
      display: inline-block;
      font-size: 0.8rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      height: 100%;
      -webkit-transition: color 150ms; /* For Safari 3.1 to 6.0 */
      transition: color 150ms;
      color: #CBFFE4;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: white;
      }

      p {
        margin-top: 0.85rem;
      }
    }
  }
}

.alt_header {
  color: $text-color;
  position: fixed;
  top: 0;
  background-color: #474747;
  z-index: 1;
  height: 2.5rem;
  width: 100%;
  z-index: 20;
  opacity: 0.95;

  .logo {
    position: absolute;
    margin-top: 0.22rem;
    margin-left: 3rem;

    img {
      height: 2rem;

    }
  }


  .login {
    position: absolute;
    right: 2rem;
    margin-top: 0.5rem;

    li {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1rem;

    }
  }

  .nav {
    position: absolute;
    right: 3rem;
    height: 100%;
    
    ul {
      height: 100%;
      overflow: none;
    }

    .li {
      position: relative;
      margin-left: -0.25rem;
      display: inline-block;
      font-size: 0.8rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      height: 100%;
      -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
      transition: background-color 150ms;
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(175,175,175,0.5);
      }

      &:active {
        background-color: rgba(130,130,130,0.5);
      }  

      p {
        margin-top: 0.85rem;
      }
    }
  }
}

#static {
  position: static;
  height: 2.5rem;

}




.footer {
  color: white;
  height: 5rem;
  background-color: #474747;

}

/* -------------------------- pages#index ------------------------- */

.intro {
  position: relative;
  min-height: 40rem;
  background-color: #FFFDFD;
  color: black;

}

.divider {
  height: 0rem;
  background:none;

}

#who_are_we {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: $primary-color;
    
  div {
    position: relative;
    top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

  }
}

#professionals {
  /*color: black;*/
  font-size: 1.5rem;
  line-height: 2rem;
  /*background-color: rgba(255,255,255,0.8);*/
  /*border: 1px solid white;*/

  div {
    position: relative;
    top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

  }
}

#nonprofits {
  /*color: white;*/
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #AEE5D1;

  div {
    position: relative;
    top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;

  }
}

#companies {
  /*color: black;*/
  font-size: 1.5rem;
  line-height: 2rem;
  /*background-color: white;*/

  div {
    position: relative;
    top: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}


/* -------------------------- projects#index ------------------------- */

.projects_search {
  background-color: none;
  position: fixed;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 1rem;
  top: 2.5rem;
  height: 85%;
  width: 16%;
  z-index: 1;
  overflow: scroll;
  color: $text-color;

  .search_bar {
    font-size: 1rem;  
    font-weight: bold;
    display: block;
    position: relative;

    .li {
      width: 100%;
      padding: 0 !important;
    }

    .clickable {
      font-size: 1rem;
      font-weight: bolder;
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;

      &:hover {
        cursor: pointer;
        background-color: $very-light-gray;
        -webkit-box-shadow: 0.2em 0em 0em $active-color inset;
        box-shadow: 0.2em 0em 0em $active-color inset;
      }

      &:active {
        background-color: $light-gray;
      }
      
}

     .lis {
      display: none; 
      margin-top: 0;
      border-radius: 0;

      .filter_value {
        padding: 0;
        width: 100%;

        &:hover {
          cursor: pointer;
          background-color: $very-light-gray;
          -webkit-box-shadow: 0.2rem 0em 0em $active-color inset;
          box-shadow: 0.2rem 0em 0em $active-color inset;
        }

        &:active {
          background-color: $light-gray;
        }

        label:before {
          position: absolute;
          top: 50%;
          margin-top: -0.5rem;
          margin-left: 1.5rem;
        }

         label:after {
          position: absolute;
          top: 50%;
          margin-top: -0.2rem;
          margin-left: 1.5rem;        
         }

        .label {
          position: relative;
          min-height: 2rem;
          overflow: auto;
          
          span {
            position: relative;
            display: block;
            height: 100%;
            margin-left: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            padding-right: 0.5rem;
          }

        }

      }
    }

    #show_by_default {
      display: block;

    }
  }
}

.projects_show {
  position: relative;
  background-color: none;
  margin-right: 3rem;
  padding-top:4rem;
  min-height: 40rem;
  margin-left: 22.5%;
  overflow: hidden;

}

.project_card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: black;
  float: left;
  position: relative;
  width: 31%;
  margin-bottom: 1rem;
  margin-left: 2%;
  height:22rem;
  background-color: white;
  border-radius: 5px;
  
  .category_wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;

    .category {
      position: absolute;
      right: 1.5rem;
      display: inline-block;
      border-radius: 4px;
      padding: 0.2rem 0.5rem;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  .logo_name_wrapper {
    width: 100%;
    position: relative;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: auto;
    -moz-box-sizing: border-box;

    .organization_logo {
      display: inline-block;
      float: left;
      margin-right: 1rem;

       .logo {
         height: 3rem;
       }
    }
    .organization_name {
      float: left;
      display: table;
      table-layout: fixed;
      height: 3rem;
      width: 75%;
      position: relative;
      margin: auto 0;
      font-size: 1rem;

      p {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .project_header {
    clear: both;
    display: block;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    background-color: #313131;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #F1F1F1;
  }

  .project_deets {
    position:relative;
    top: 0;

    .date_created, .num_pos, .cause, .location {
      font-size: 1rem;
      display:block;
      width: 100%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  } 

  &:hover {
    -webkit-box-shadow: 0em 0em 0.3rem 0.3rem $active-color;
    box-shadow: 0em 0em 0.3rem 0.3rem $active-color;

  }
}

/* POPUP DIV CSS */

.projects_overlay {
  display: none;
  background-color: $box-shadow-color;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;
  opacity: 0.7;
}

.projects_detail {
  display: none;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 75%;
  height: 30rem;
  z-index: 20;
  overflow: hidden;

  .project_header {
      border-bottom: 1px solid $primary-color;
      height: 3rem;
    }

  .show_project_buttons {
    display: inline-block;
    background-color: #EEEEEE;
    height: 1rem;
    min-width: 6rem;
    padding: 6px;
    margin-left: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    text-align: center;
    vertical-align: bottom;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }

  .show_project_buttons_disabled {
    display: inline-block;
    background-color: #EBEBEB;
    color: #CECECE;
    height: 1rem;
    min-width: 6rem;
    padding: 6px;
    margin-left: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
    vertical-align: bottom;    
  }

  .project_card_in_popup {
    position: relative;
    width: 95%;
    margin: 2rem auto;
    background-color: white;
    color: black;
    z-index: 2;

    .project_details {
        color: black;
        overflow-y: scroll;
        width: 100%;
        height: 18rem;
      }


      #close_project {
        @extend .show_project_buttons;
      }

      .fb-like {
        display: inline-block;
        height: 1rem;
        width: 4rem;
        padding: 10px;
        margin-left: 9rem;
        margin-top: 0.5rem;
        text-decoration: none;
        color: $box-shadow-color;
      } 

  }  
  
  .proto_form {
    position: relative;
    top: 2rem;
    left: 2.5%;
    width: 95%;

      form {
        margin-top: 2rem;
      }

  }

}

  .basic.modal .content {
      .message {
        font-size: 2rem;
        margin: 3rem auto;
        text-align: center;}

      .button_container {
        margin: 0 auto;
        text-align: center;
      }
  }

/* ----------------- user#new (sign up and log in form) -------------------- */

.login_box {
  color: $text-color;
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 20rem;
  padding: 1rem;
  background-color: #B1C4C0;
  overflow: auto; 
  font-size: 1rem;


  form input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  }  

  .tabular.menu {
    border:none !important;
    margin-bottom: 0 !important;

    .active.item {
      border: none !important;
    }

  }

  .form{
    background-color: white;
    position: relative;
    width: 18rem;
    padding: 1rem;
    clear: both;
    display: none;
    overflow: auto;
    
    .errors {
      width: 16rem;
      font-size: 1rem;
      background-color: #F1D7D7;
      color: #A95252;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;
    }    
  }
  
  #login{
    display:block;
  }

  #facebook {
    width: 8.5rem;
    float: left;

  }
  
  #linkedin {
    width: 8.5rem;
    float: right;

  }


}


.projects_overlay_transparent {
  background-color: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;
  opacity: 0.7;
}

/* ------ user option menu (drop down when profile is clicked) ----- */

.user_options_menu {
  position: absolute;
  right: 0;
  top: 2.5rem;
  padding: 0.5rem;
  width: 12.5rem;
  background-color: rgba(0,0,0,0.9);
  overflow: auto; 
  font-size: 1rem;
  
  .ui.menu .item {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
  }
}

/* -------------------------- user#profile ------------------------- */

.profile_view {
  position: relative;
  background-color: white;
  padding:3rem;
  width: 85%;
  min-height: 10rem;
  margin-left: 15rem;
  overflow: hidden;

  .chart {
    margin-top: 1rem;
    padding: 1rem;
    width: 75%;
    border: 2px solid $light-gray;

    .chart_title {
      margin-bottom: 1rem;
    }
  }

  .profile_view_content {
    /*margin-top: rem;*/
    display: none;

    .show_application{
      width: 50%;
    }

    .unread {
      background-color: $primary-color;
    }
  }


  .greeting_message {
    position: relative;
    background-color: white;
    width: 85%;
    overflow: hidden;

  }

  #summary {
    display: initial;

  }

  .show_application {
    margin-top: 1.5rem;
    line-height: 1.5rem;

  }
}



.profile_view_nav {
  position: fixed;
  padding-top: 3rem;
  padding-left: 2rem;
  top: 4rem;
  height:40rem;
  width: 15%;
  background-color: white;
  z-index: 1;
  overflow: visible;

  .profile_view_nav_buttons {
    font-size: 1rem;
    color: $text-color;
    font-weight: bold;
    display: block;
    position: relative;
    min-height: 30rem;


    .profile_view_button {
      position: relative;
      font-size: 1rem;
      font-weight: normal;
      display: block;
      margin-top: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;

      &:hover {
        background-color: $primary-color;
        color: white;
        


      }
    }

    .clicked {
      @extend .profile_view_button:hover;

    }
  }    
}

.upload {
  padding-top: 1rem;
  .dropzone {
    position: relative;
    display: block;
    background-color: #D8D8D8;
    width: 39rem;
    height: 3rem;
    padding-top: 2rem;
    left: 3rem;
    text-align: center;
    border: 1px dashed $box-shadow-color;

  }

  .draghover {
    border: 0.2rem dashed #7ABDAF;
  }
}


.proto_form{
  left: 2.5rem;
  position: relative;
  width: 40rem;
  clear: both;


    .text_field, .text_area{
      display: block;
      width: 96%;
      height: 1.5rem;
      margin: 10px auto;
      border: 1px solid $box-shadow-color;
    }

    .text_area {
      height: 5rem;
    }

    .button {
      display: block;
      color: white;
      text-decoration: none;
      width: 96%;
      height: 1.5rem;
      margin: 2px auto;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
}
