/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ----------------------- across the whole document ---------------------- */

body {

        font-family: "Raleway", serif;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
    
    }

/* -------------------------- header and footer ------------------------- */


.header {

    color: white;
    position: fixed;
    background-color: #76D7B3;
    z-index: 1;
    height: 4.5rem;
    width: 100%;
    z-index:3;
    overflow: hidden;

}

       .header .logo {

            position: absolute;
            margin-top: 1rem;
            margin-left: 2rem;
            
        }

            .header .logo img {

                height: 3rem;

            }

        .header .login {

            position: absolute;
            right: 2rem;
            margin-top: 0.5rem;

        }

                .header .login li {

                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1rem;
                }

        .header .nav {

            position: absolute;
            right: 2rem;
            margin-top: 2rem;
            margin-right: 10rem;

        }

                .header .nav li {

                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1rem;
                    padding-bottom: 0.25rem;
                    padding-right: 0.25rem;
                    padding-left: 0.25rem;
                }

                    .header .nav li:hover {

                        border-bottom: 2px solid white;
                    }

                .header .nav a {

                    color: white;
                    text-decoration: none;

                }


.alt_header {

    color: #888888;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 4rem;
    width: 100%;
    box-shadow: 1px 1px 5px #888888;
    z-index: 2;

}

       .alt_header .logo {

            position: absolute;
            margin-top: 0.0rem;
            margin-left: 3rem;
            
        }

            .alt_header .logo img {

                height: 4rem;

            }

        .alt_header .login {

            position: absolute;
            right: 2rem;
            margin-top: 0.5rem;

        }

                .alt_header .login li {

                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1rem;
                }


        .alt_header .nav {

            position: absolute;
            right: 2rem;
            margin-top: 2rem;
            margin-right: 10rem;

        }

                .alt_header .nav li {

                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1rem;
                    padding-bottom: 0.25rem;
                    padding-right: 0.25rem;
                    padding-left: 0.25rem;
                }

                    .alt_header .nav li:hover {

                        border-bottom: 2px solid #76D7B3;
                    }

                .alt_header .nav a {

                    color: #888888;
                    text-decoration: none;

                }


#static {

    position: static;
    height: 4rem;

}




.footer {

    color: white;
    height: 5rem;
    background-color: #474747;

}

/* -------------------------- pages#index ------------------------- */

.intro {

    position: relative;
    min-height: 40rem;
    background-color: #FFFDFD;
    color: black;

}

.divider {

    height: 0rem;
    background:none;

}

#who_are_we {

    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #76D7B3;
}
    
    #who_are_we div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }
    

#professionals {

    /*color: black;*/
    font-size: 1.5rem;
    line-height: 2rem;
    /*background-color: rgba(255,255,255,0.8);*/
    /*border: 1px solid white;*/

}

    #professionals div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }

#nonprofits {

    /*color: white;*/
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #AEE5D1;

}

    #nonprofits div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;


    }

#companies {

    /*color: black;*/
    font-size: 1.5rem;
    line-height: 2rem;
    /*background-color: white;*/

}

    #companies div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }


/* -------------------------- projects#index ------------------------- */


.projects_search {

    position: fixed;
    padding-top: 3rem;
    padding-left: 2rem;
    top: 4rem;
    height:40rem;
    width: 15%;
    background-color: white;
    z-index: 1;
    overflow: scroll;

}

    .projects_search .search_bar {

        font-size:1rem;
        color: #888888;
        font-weight: bold;
        display: block;
        position: relative;
        min-height: 30rem;
    
    }

        .projects_search .search_bar .clickable {

            font-size: 1rem;
            font-weight: normal;
            display: block;
            margin-top: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;

        }


        .projects_search .search_bar .lis {

            display: none;

        }

        .projects_search .search_bar #show_by_default {

            display: block;
        }

        .projects_search .search_bar .lis li {

            font-size: 1rem;
            font-weight: normal;
            display: block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            border-bottom: 2px solid white;

        }

            .projects_search .search_bar .lis li:hover {

                border-bottom: 2px solid #76D7B3;

            }

        .projects_search .search_bar .clickable:hover {

            background-color: #76D7B3;
            color: white;
        }

        .projects_search .search_bar .clickable_clicked {
            
            background-color: #76D7B3;
            color: white;
        }



.projects_show {

    position: relative;
    background-color: white;
    padding-top:3rem;
    padding-left: 3rem;
    width: 85%;
    min-height: 40rem;
    margin-left: 15%;
    overflow: hidden;

}

.project_card {

    color: gray;
    float: left;
    height:20rem;
    width: 20rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #EEEEEE;
    /*background-color: #F1F1F1;*/

}


    .project_card .project_header {

        /*color: #FFDD4B;*/
        font-size: 1.5rem;
        width: 100%;



    }

    .project_card .project_details {

        color: gray;
        margin-top: 1rem;
        line-height: 1.3rem;


    }

    .project_card:hover {

        background-color: #76D7B3;
        color: white;

    }

    .project_card:hover .project_details {

        color: white;

    }