/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ----------------------- across the whole document ---------------------- */

body {

        font-family: "Raleway", serif;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
       

        
    }

.background {

    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:url('background.jpg') no-repeat center center;

    }


/* -------------------------- header and footer ------------------------- */


.header {

    color: white;
    position: fixed;
    background-color: #76D7B3;
    z-index: 1;
    height: 5rem;
    width: 100%;

}

       .header .logo {

            position: absolute;
            margin-top: 0.5rem;
            margin-left: 2rem;
            font-size: 4rem;


        }

        .header .login {

            position: absolute;
            right: 2rem;
            margin-top: 0.5rem;

        }

                .header .login li {

                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1rem;
                }

        .header .nav {

            position: absolute;
            right: 2rem;
            margin-top: 2rem;
            margin-right: 10rem;

        }

                .header .nav li {

                    display: inline-block;
                    margin-left: 1rem;
                    font-size: 1.5rem
                }

                .header .nav a {

                    color: white;
                    text-decoration: none;

                }


#static {

    position: static;

}





.footer {

    color: white;
    height: 5rem;
    background-color: #474747;

}

/* -------------------------- pages#index ------------------------- */

.intro {

    position: relative;
    min-height: 40rem;
    background-color: #FFFDFD;
    color: black;

}

.divider {

    height: 0rem;
    background:none;

}

#who_are_we {

    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #76D7B3;
}
    
    #who_are_we div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }
    

#professionals {

    /*color: black;*/
    font-size: 1.5rem;
    line-height: 2rem;
    /*background-color: rgba(255,255,255,0.8);*/
    /*border: 1px solid white;*/

}

    #professionals div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }

#nonprofits {

    /*color: white;*/
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: #AEE5D1;

}

    #nonprofits div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;


    }

#companies {

    /*color: black;*/
    font-size: 1.5rem;
    line-height: 2rem;
    /*background-color: white;*/

}

    #companies div {

        position: relative;
        top: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }


/* -------------------------- projects#index ------------------------- */


.projects_search {

    position: fixed;
    padding-top: 2rem;
    top: 5rem;
    height:40rem;
    width: 15%;
    background-color: white;
    z-index: 1;

}

    .projects_search .search_bar {

        color: white;
        display: block;
        position: relative;
        min-height: 20rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
        background-color: #76D7B3;
        border: 2px solid white;

    }

        .projects_search .search_bar li {

            display: block;
            margin-top: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;


        }

.projects_show {

    position: relative;
    background-color: white;
    padding-top:2rem;
    padding-left: 2rem;
    width: 85%;
    min-height: 40rem;
    margin-left: 15%;
    overflow: hidden;

}

.project_card {

    color: gray;
    float: left;
    height:100%;
    width: 29%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid gray;

}
    .project_card .project_header {

        /*background-color: #76D7B3;*/
        font-size: 2rem;
        width: 100%;


    }

    .project_card .project_details {

        color: gray;
        margin-top: 1rem;
        line-height: 1.3rem;


    }