// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "font-awesome";

// Variables:

$font-stack: "Open Sans", sans-serif;

$primary-color: #2DD1A3;
$medium-primary-color: #56CEA1;
$accent-color: #3D9977;
$text-color: #a0a0a0;
$box-shadow-color: #888888;
$light-gray: #EEEEEE;
$active-color: #A3E4CC;
$very-light-gray: #FAFAFA;
$background-color: white;
/*#01775B;*/
/*#76D7B3 */

/* ----------------------- across the whole document ---------------------- */

body {
  font-family: $font-stack;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
}

.hidden {
  display: none !important;
}

.clicked {
  background-color: rgba(175,175,175,0.5);
  color: white !important;
}

.clicked_alt {
  background-color: $active-color !important;
}

.noTextSelectCursor {
  cursor: default;
}

.icon_left {
  margin-right: 0.5rem;
}

.icon_right {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: absolute;
  right: 0;

}

.background_div {
  height: 100%;
  width: 100%;
  background-color: $background-color;
}

.spinner {
  display: inline-block;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear; 
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

/* -------------------------- header and footer ------------------------- */

.header {
  color: $text-color;
  position: fixed;
  top: 0;
  background-color: none;
  z-index: 1;
  height: 2.5rem;
  width: 100%;
  z-index: 21;
  opacity: 1;

  .logo {
    position: absolute;
    margin-top: 0.22rem;
    margin-left: 3rem;

    img {
      height: 3rem;

    }
  }


  .login {
    position: absolute;
    right: 2rem;
    margin-top: 0.5rem;

    li {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1rem;

    }
  }

  .nav {
    position: absolute;
    right: 3rem;
    height: 100%;
    
    ul {
      height: 100%;
      overflow: none;
    }

    .li {
      position: relative;
      margin-left: -0.25rem;
      display: inline-block;
      font-size: 0.8rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      height: 100%;
      -webkit-transition: color 150ms; /* For Safari 3.1 to 6.0 */
      transition: color 150ms;
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(175,175,175,0.5);
      }

      p {
        margin-top: 0.85rem;
      }

      &.profile_dropdown {
        padding-right: 2.5rem;

        .icon_right {
          margin-right: 1rem;
        }
      }
    }
  }
}

.alt_header {
  display: none;
  color: $text-color;
  position: fixed;
  top: 0;
  background-color: $primary-color;
  z-index: 1;
  height: 2.5rem;
  width: 100%;
  z-index: 20;
  opacity: 0.98;

  .logo {
    position: absolute;
    top: 0.22rem;
    left: 4rem;

    img {
      width: 2.3rem;
      
    }
  }


  .login {
    position: absolute;
    right: 2rem;
    margin-top: 0.5rem;

    li {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1rem;

    }
  }

  .nav {
    position: absolute;
    right: 3rem;
    height: 100%;
    
    ul {
      height: 100%;
      overflow: none;
    }

    .li {
      position: relative;
      margin-left: -0.25rem;
      display: inline-block;
      font-size: 0.8rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      height: 100%;
      -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
      transition: background-color 150ms;
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(175,175,175,0.5);
      }

      &:active {
        background-color: rgba(130,130,130,0.5);
      }  

      p {
        margin-top: 0.85rem;
      }

      &.profile_dropdown {
        padding-right: 2.5rem;

        .icon_right {
          margin-right: 1rem;
        }
      }
    }
  }
}

#static {
  position: static;
  height: 2.5rem;

}




.footer {
  color: white;
  height: 4rem;
  background-color: #4B4B4B;

  .copyright {
    font-size: 0.7rem;
    position: absolute;
    margin: 1.5rem 0 0 3rem;
  }
}

/* -------------------------- pages#index ------------------------- */

.intro {
  position: relative;
  min-height: 42rem;
  color: $text-color;
}

.landing_section_nav {
  height: 10rem;
  width: 1rem;
  position: fixed;
  right: 1rem;
  top: 18rem;
  z-index: 2;

  .section_nav_button {
    cursor: pointer;
    background-color: $light-gray;
    margin-top: 0.2rem;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 100%;
    -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 150ms;

    p {
      color: white;
      font-size: 0.7rem;
      top: 0.05rem;
      position: relative;
      right: 15.5rem;
      text-align: right;
      width: 15rem;
    }
  }
}

.logo {
  position: absolute;
  width: 6rem;
  left: 3rem;
  top: 2rem;

  img {
    width: 100%;
  }

}

.front_page_background {
  position: fixed;
  left: 0;
  top: 0rem;
  background-image: image-url('background.png');
  background-size: 120%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  z-index: -1;
  overflow:hidden;
}

.font_page_content {
  background-color: white;
  padding-bottom: 5rem;

  .divider {
    width: 75%;
    position: relative;
    margin: 0 auto !important;
  }

}

#who_are_we {
  position:relative;
  color: white;
  font-size: 2rem;
  line-height: 2rem;

  .headline {
    position:relative;
    text-align: center;
    margin: auto;
    padding-top: 11rem;
    font-size: 2rem;

    h2 {
      margin: 0;
    }
  }

  .subtitle {
    position:relative;
    margin: 2rem auto;
    text-align: center; 
    width: 42%;
    font-size: 1rem;

    .tag {
      font-size: 0.75rem;
    }
  }

  .button_container_invite {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 15%;
    height: 3rem;
    position: relative;
    margin: 0 auto;
    margin-top: 3rem;  

    .get_invite {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      text-align: center;
      border: 1px solid white;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;    
      font-size: 1rem;  
      cursor: pointer;
      width: 100%;
      height: 3rem;
      color: white;
      border-radius: 5px;
      position: relative;
      margin: 0 1%;
      float: left;
      -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
      transition: background-color 150ms;

      &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }

  .divider_container {
    width: 35%;
    position: relative;
    margin: 0.5rem auto;
    margin-top: 2rem;
    height: 1rem;
    font-size: 0.7rem;
  }

  .button_container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 35%;
    position: relative;
    margin: 0 auto;
    height: 3rem;
    margin-top: 2rem;

    .pro_summ_button, .npo_summ_button, .faq_button {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      text-align: center;
      border: 1px solid white;
      font-size: 0.7rem;  
      cursor: pointer;
      width: 31%;
      height: 2rem;
      color: white;
      border-radius: 5px;
      position: relative;
      margin: 0 1%;
      float: left;
      -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
      transition: background-color 150ms;

      &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}

#professionals {
  height: 47rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: $background-color;
  position: relative;
  text-align: center;

  .get_invite {
    text-align: center;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;    
    font-size: 1.2rem;  
    position: relative;
    width: 15%;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 5px;
    -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 150ms;

    &:hover {
      background-color: #1FC597;
      border: 1px solid #1FC597;
    }
  }

  h2 {
    display: block;
    position: relative;
    padding-top: 4rem;
    font-size:2rem;
  }

  p {
    display:block;
    width: 50%;
    position: relative;
    margin: 2rem auto 0rem auto;
  }

  .link_to_categories {
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-decoration: underline;
    font-weight: bold;

  }

  .how_it_works {
    position: relative;
    top: 0rem;
    width: 75%;
    height: 18rem;
    margin: 0 auto;

    .step {
      height: 100%;
      width: 25%;
      float: left;
      
      .graphics {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        padding-top: 1rem;
        height: 60%;
        width: 90%;
        margin: 0 auto;
        
        .icongraphic {
          width: 65%;
          position: relative;
        }

      } 

      .number {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 1rem auto;
        padding-bottom: 0.1rem;
        position: relative;
        font-size: 1.1rem;
        width: 2rem;
        text-align: center;
        color: black;
        height: 2rem;
        width: 5rem;
      }

      .text {
        font-size: 1rem;
        margin: 1rem auto;
        position: relative;
        line-height: 1.1rem;
        height:4rem;
        width: 90%;
      }
    }
  }
}

#nonprofits {
  height: 50rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: $background-color;
  position: relative;
  text-align: center;

  .get_invite {
    text-align: center;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;    
    font-size: 1.2rem;  
    position: relative;
    width: 15%;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 5px;
    -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 150ms;

    &:hover {
      background-color: #1FC597;
      border: 1px solid #1FC597;
    }
  }


  h2 {
    display: block;
    position: relative;
    padding-top: 4rem;
    font-size:2rem;
  }

  p {
    display:block;
    width: 50%;
    font-size: 1.5rem;
    position: relative;
    margin: 2rem auto 0rem auto;
  }

  .link_to_categories {
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-decoration: underline;
    font-weight: bold;

  }

  .how_it_works {
    position: relative;
    top: 0rem;
    width: 75%;
    height: 18rem;
    margin: 0 auto;

    .step {
      height: 100%;
      width: 25%;
      float: left;
      
      .graphics {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        padding-top: 1rem;
        height: 60%;
        width: 90%;
        margin: 0 auto;
        
        .icongraphic {
          width: 65%;
          position: relative;
        }
      } 

      .number {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 1rem auto;
        padding-bottom: 0.1rem;
        position: relative;
        font-size: 1.1rem;
        width: 2rem;
        text-align: center;
        color: black;
        height: 2rem;
        width: 5rem;
      }

      .text {
        font-size: 1rem;
        margin: 1rem auto;
        position: relative;
        line-height: 1.1rem;
        height:4rem;
        width: 90%;
      }
    }
  }
}


#categories {
  height: 45rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: $background-color;
  position: relative;
  text-align: center;

  .get_invite {
    text-align: center;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;    
    font-size: 1.2rem;  
    position: relative;
    width: 15%;
    margin: 0 auto;
    margin-top: 6rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 5px;
    -webkit-transition: background-color 150ms; /* For Safari 3.1 to 6.0 */
    transition: background-color 150ms;

    &:hover {
      background-color: #1FC597;
      border: 1px solid #1FC597;
    }
  }


  h2 {
    display: block;
    position: relative;
    padding-top: 5rem;
    font-size:2rem;
  }

  p {
    display:block;
    width: 50%;
    position: relative;
    margin: 2rem auto;
  }

  .how_it_works {
    position: relative;
    top: 1.5rem;
    width: 75%;
    height: 15rem;
    margin: 0 auto;

    .step {
      height: 100%;
      width: 20%;
      float: left;
      
      .graphics {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        padding-top: 1rem;
        height: 50%;
        width: 90%;
        margin: 0 auto;
        
        .icongraphic {
          font-size: 5rem;
          color: $text-color;
          position: relative;
        }

      } 

      .number {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 1rem auto;
        padding-bottom: 0.1rem;
        position: relative;
        font-size: 1.1rem;
        width: 2rem;
        text-align: center;
        color: black;
        height: 2rem;
        width: 5rem;
      }

      .text {
        font-size: 0.9rem;
        margin: 1rem auto;
        position: relative;
        line-height: 1.1rem;
        height:4rem;
        width: 90%;

      }
    }
  }
}


#faq {
  height: 66rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: $background-color;
  position: relative;
  text-align: center;

  h2 {
    display: block;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 4rem;
    font-size:2rem;
  }

  .q {
    width: 65%;
    position: relative;
    margin: 1rem auto;

    .question {
      color: black;
      font-size: 1.1rem;  
      font-weight: bold; 
      text-align: left; 
    }

    .answer {
      font-size: 1rem;
      text-align: left;
      line-height: 1.5rem;
    }
  }

}

.join {
  min-height: 50rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: $background-color;
  position: relative;
  color: $text-color;
  text-align: center;

  h2 {
    display: block;
    position: relative;
    padding-top: 5rem;
    font-size:2rem;
  }

  label {
    margin: 0;
    font-size: 1rem !important;
    color: $text-color !important;
  }
  input {
    margin: 0;
    font-size: 1rem !important;
  }

  textarea {
    font-size: 1rem !important;
  }

  p {
    display:block;
    width: 75%;
    position: relative;
    margin: 1rem auto;
    text-align: center;
  }

  .form {
    text-align: left;
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid $light-gray;
    border-radius: 10px;
    padding: 2rem;
    font-size: 1rem;

    .subscribe {
      width: 7rem;

      .spinner {
        width: auto;
        color: $text-color;
        font-size: 0.9rem;
      }
    }
    
    .form_text {
      text-align: left;
      margin-left: 0;
      width: 100%;
      line-height: 1rem;
      margin-top: 2rem;
    }

    .fa {
      font-size: 0.5rem;
      position: relative;
      bottom: 0.15rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      color:#FF6F6F;
    }

    .mand {
      position: relative;
      left: 27.5rem;
      display: inline;
    }

  }

}

/* -------------------------- projects#index ------------------------- */

.projects_search {
  background-color: none;
  position: fixed;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 1rem;
  top: 2.5rem;
  height: 85%;
  width: 16%;
  z-index: 1;
  overflow: scroll;
  color: $text-color;

  .search_bar {
    font-size: 1rem;  
    font-weight: bold;
    display: block;
    position: relative;

    .li {
      width: 100%;
      padding: 0 !important;
    }

    .clickable {
      font-size: 1rem;
      font-weight: bolder;
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;

      &:hover {
        cursor: pointer;
        background-color: $very-light-gray;
        -webkit-box-shadow: 0.2em 0em 0em $primary-color inset;
        box-shadow: 0.2em 0em 0em $primary-color inset;
      }

      &:active {
        background-color: $light-gray;
      }
      
    }

    .lis {
      display: none; 
      margin-top: 0;
      border-radius: 0;

      .filter_value {
        padding: 0;
        width: 100%;

        &:hover {
          cursor: pointer;
          background-color: $very-light-gray;
          -webkit-box-shadow: 0.2rem 0em 0em $primary-color inset;
          box-shadow: 0.2rem 0em 0em $primary-color inset;
        }

        &:active {
          background-color: $light-gray;
        }

        label:before {
          position: absolute;
          top: 50%;
          margin-top: -0.5rem;
          margin-left: 1.5rem;
        }

        label:after {
          position: absolute;
          top: 50%;
          margin-top: -0.2rem;
          margin-left: 1.5rem;        
        }

        .label {
          position: relative;
          min-height: 2rem;
          overflow: auto;
          
          span {
            position: relative;
            display: block;
            height: 100%;
            margin-left: 2rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            padding-right: 0.5rem;
          }

        }

      }
    }

    #show_by_default {
      display: block;

    }
  }
}

.projects_show {
  position: relative;
  background-color: none;
  margin-right: 3rem;
  padding-top:4rem;
  padding-bottom:2rem;
  min-height: 40rem;
  margin-left: 22.5%;
  overflow: hidden;
}

.project_card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: black;
  float: left;
  position: relative;
  width: 31%;
  margin-bottom: 1rem;
  margin-left: 2%;
  height:22rem;
  background-color: white;
  border: 1px solid #C9C9C9;
  
  .category_wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;

    .category {
      position: absolute;
      display: inline-block;
      border-radius: 4px;
      right: 1.5rem;
      padding: 0.2rem 0.5rem;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  .logo_name_wrapper {
    width: 100%;
    position: relative;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: auto;
    -moz-box-sizing: border-box;

    .organization_logo {
      display: inline-block;
      float: left;
      margin-right: 1rem;

      .logo {
       width: 3rem;
     }
   }
   .organization_name {
    float: left;
    display: table;
    table-layout: fixed;
    height: 3rem;
    width: 75%;
    position: relative;
    margin: auto 0;
    font-size: 1rem;

    p {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.project_header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  clear: both;
  display: block;
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: $light-gray;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #303030;
}

.project_deets {
  position:relative;
  top: 0;

  .date_created, .num_pos, .cause, .location {
    font-size: 1rem;
    display:block;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
} 

&:hover {
  -webkit-box-shadow: 0em 0em 0.3rem 0.3rem $active-color;
  box-shadow: 0em 0em 0.3rem 0.3rem $active-color;
}
}

/* POPUP DIV CSS */

.projects_overlay {
  display: none;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  opacity: 0.7;
}

.projects_detail {
  display: none;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 75%;
  height: 30rem;
  z-index: 20;
  overflow: hidden;

  .project_header {
    height: 3rem;
    font-size: 1.3rem;

    .link_to_profile {
      a {
        text-decoration: underline;
        color: black;
        font-weight: bold;
        
        &:hover {
          color: $active-color;
        }
      }
    }
  }

  #close_project {
    position: absolute;
    right:-0.5rem;
    top: -2.5rem;
    cursor: pointer;
    color: gray;

    &:hover {
      color: red;
    }

  }

  .project_card_in_popup {
    position: relative;
    width: 95%;
    margin: 2rem auto;
    background-color: white;
    color: black;
    z-index: 2;

    .project_details {
      color: black;
      overflow-y: scroll;
      width: 100%;
      height: 18rem;
    }

    .fb-like {
      display: inline-block;
      height: 1rem;
      width: 4rem;
      padding: 10px;
      margin-left: 9rem;
      margin-top: 0.5rem;
      text-decoration: none;
      color: $box-shadow-color;
    } 

  }  
  
  .proto_form {
    position: relative;
    top: 2rem;
    left: 2.5%;
    width: 95%;

  .project_header {
    height: 3rem;
    font-size: 1.3rem;

    .link_to_profile {
      a {
        text-decoration: underline;
        color: black;
        font-weight: bold;
        
        &:hover {
          color: $active-color;
        }
      }
    }
  }

    .form textarea {
      height: 2rem;
    }

    .upload {
      padding-top: 0;

      form {
        margin-bottom: 1rem;
      }

    }
  }

  .load_application, .do_project, #application_submit {
    width: 7rem;

    .spinner {
      width: auto;
    }
  }
}

.basic.modal .content {
  .message {
    font-size: 2rem;
    margin: 3rem auto;
    text-align: center;}

    .button_container {
      margin: 0 auto;
      text-align: center;
    }
  }


  .pagination_load.spinner {
    position: relative;
    left: 50%;
    margin-left: -1rem;
    margin-bottom: 2rem;

  }


  /* ----------------- user#new (sign up and log in form) -------------------- */

  .login_box {
    color: $text-color;
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 20rem;
    padding: 1rem;
    background-color: #A5A5A5;
    overflow: auto; 
    font-size: 1rem;


    form input {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }  

    .tabular.menu {
      border:none !important;
      margin-bottom: 0 !important;

      .active.item {
        border: none !important;
      }

    }

    .form{
      background-color: white;
      position: relative;
      width: 18rem;
      padding: 1rem;
      clear: both;
      display: none;
      overflow: auto;

      .errors {
        width: 16rem;
        font-size: 1rem;
        background-color: #F1D7D7;
        color: #A95252;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;
      }    
    }

    #login{
      display:block;
    }

    #facebook {
      width: 8.5rem;
      float: left;

    }

    #linkedin {
      width: 8.5rem;
      float: right;

    }


  }


  .projects_overlay_transparent {
    background-color: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 19;
    opacity: 0.7;
  }

  /* ------ user option menu (drop down when profile is clicked) ----- */

  .user_options_menu {
    position: absolute;
    right: 0;
    top: 2.5rem;
    padding: 0.5rem;
    width: 12.5rem;
    background-color: rgba(0,0,0,0.9);
    overflow: auto; 
    font-size: 1rem;

    .ui.secondary.vertical.menu {
      width: 100%;
    }

    .ui.menu .item {
      width: 100%;
      font-size: 0.75rem;
      font-weight: bold;
      color: white;
    }
  }

  /* -------------------------- user#profile ------------------------- */

  .profile_view {
    position: relative;
    background-color: none;
    margin-right: 2.5rem;
    padding-top:4rem;
    min-height: 40rem;
    margin-left: 22.5%;
    overflow: hidden;

    .chart {
      margin-top: 1rem;
      padding: 1rem;
      width: 75%;
      border: 2px solid $light-gray;

      .chart_title {
        margin-bottom: 1rem;
      }
    }

    .profile_view_content {
      width: 100%;
      /*min-height is set by cosmetics.js setMinHeightToElements function*/

      .unread {
        background-color: $primary-color;
      }
    }
  }


  .show_application {  /* this is the card that shows the application */

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: black;
    float: left;
    position: relative;
    width: 23%;
    margin-bottom: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    height:15rem;
    background-color: white;
    border: 1px solid #C9C9C9;

    &.professional {
      cursor: auto;
    }

    .apply, .view {
      color: #F19F68;
      background-color: white;
      border: 1px solid #F19F68;
    }

    .approve {
      color: #6FC26C;
      background-color: white;
      border: 1px solid #6FC26C;
    }

    .decline, .cancel {
      color: #B44B4B;
      background-color: white;
      border: 1px solid #B44B4B;
    }

    .engage {
      color: #C48D69;
      background-color: white;
      border: 1px solid #C48D69;
    }

    .complete {
      color: #6E81CA;
      background-color: white;
      border: 1px solid #6E81CA;
    }

    .status_wrapper {
      position: relative;
      display: block;
      width: 100%;
      height: 1.5rem;
      margin: 0.5rem;
      padding-right: 0.5rem;

      .application_status {
        position: absolute;
        display: inline-block;
        border-radius: 4px;
        right: 1.5rem;
        padding: 0.2rem 0.5rem;

      }
    }

    .project {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 0.5rem;
      background-color: $light-gray;
      color: #303030;
    }

    .application_deets {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0.5rem;
      width: 100%;
      color: black;

      .view_application {
        color: #1400FF;
        cursor: pointer;

        &:hover {
          color: #3868FF;
        }
      }
    }

    .user_action {
      height: 2rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0.5rem;

      .status_change {
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */     
        display: inline-block;
        height: 2rem;
        min-width: 50%;
        float: left;

        .action_button {
          display: inline-block;
          min-width: 45.5%;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }

      .fa {
        font-size: 2rem;
      }
      .admin_edit {
        display: inline-block;
        width: 22%;
        float: right;
        color: #4E97DB;
        position: relative;
        top :50%;
        margin-top: -1rem;
        cursor: pointer;
        -webkit-transition: color 150ms; /* For Safari 3.1 to 6.0 */
        transition: color 150ms;

        &:hover {
          color: #7BBDFC;
        }
      }
      .admin_delete {
        display: inline-block;
        width: 22%;
        float: right;
        color: #E54A4A;
        position: relative;
        top :50%;
        margin-top: -1.1rem;
        cursor: pointer;
        -webkit-transition: color 150ms; /* For Safari 3.1 to 6.0 */
        transition: color 150ms;

        &:hover {
          color: #FF4C4C;
        }
      }


    }

    &:hover {
      -webkit-box-shadow: 0em 0em 0.3rem 0.3rem $active-color;
      box-shadow: 0em 0em 0.3rem 0.3rem $active-color;
    }

  }


  .profile_view_nav {
    position: fixed;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 1rem;
    top: 2.5rem;
    height: 85%;
    width: 16%;
    z-index: 1;
    overflow: scroll;
    color: $text-color;

    .profile_menu {
      background-color: rgba(223, 223, 223, 0.9);
      padding: 0.5rem;
      padding-right: 0.2rem;

      .profile_view_nav_buttons {
        width: 100%;
        opacity: 0.8;

        .header.item {
          line-height: 1.5rem;

          h1 {
            color: black;
            font-size: 1.5rem;
          }

          p {
            color: black;
            font-size: 0.75rem;
          }
        }

        .profile_view_button {
          color: black;
          font-size: 0.8rem;

          &:hover {
            color: white !important;
          }

          &.active {
            color: white !important;
            border-color: $primary-color !important;
          }
        }
      }   
    } 
  }

  .upload {
    padding-top: 1rem;
    .dropzone {
      box-sizing:border-box;
      -moz-box-sizing:border-box; /* Firefox */
      position: relative;
      display: block;
      width: 80%;
      height: 6rem;
      padding-top: 2rem;
      left: 10%;
      text-align: center;
      font-size: 1.5rem;
      color: $text-color;
      border: 3px dashed $box-shadow-color;
      border-radius: 10px;
      cursor: pointer;
    }

    .draghover {
      border: 0.2rem dashed $primary-color;
      color: $primary-color;
    }

    .upload.spinner {
      position: absolute;
      left: 50%;
      margin-left: -1rem;
      padding: 0;
      top: 1.5rem;
    }
  }


  .profile_form{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    left: 10%;
    position: relative;
    padding: 2rem;
    width: 80%;
    clear: both;
    background-color: white;
    border: 2px solid #C9C9C9;
    margin-bottom: 2rem;

    .section_title {
      font-weight: bold;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .individual_checkbox{
      margin: 0.5rem;
      display: block;
    }

    .submit {
      margin-top: 1rem;
    }

    .divider {
      margin-top: 0rem;
    }

    .uploaded_stuff_action {
      margin-bottom: 0.5rem;

      a {
        text-decoration: none;
        color: rgba(0,0,0,0.8);

        i {
          display: inline-block;
          width: 1.5rem;
          text-align: center;
        }

        &:hover {
          color: $primary-color;
        }

      }
    }
  }

  .admin_panel {
    position: relative;
    margin: 5rem auto;
    width: 85%;

    .projects, .applications, .categories, .causes, .locations, .users {
      padding: 1rem;
      margin: 0rem auto 3rem auto;
      border: 2px solid $light-gray;
      width: 100%;
      overflow: scroll;

      .high_level_stats {
        margin: 1rem auto;
        font-size: 0.8rem;

        .stats {
          text-align: center;
          background-color: $very-light-gray;

          td {
            width: 7rem;
          }
        }  
      }
    
      .section_name {
        font-size: 1rem;
        font-weight: bold;
        margin: 1rem 0rem;
      }

      .admin_create {
        color: $primary-color;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          color: #82E7CB;
        }
      }

    }

    #admin_projects, #admin_applications, #admin_categories, #admin_causes, #admin_locations, #admin_users {
      font-size: 0.8rem;

    }
  }

  .edit_info_popup {
    display: none;
    z-index: 21;
    position: fixed;
    width: 75%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: scroll;

    .profile_form {
      width: 100%;
      position: absolute;
      top: 0rem;
      left: 0rem;

      h2 {
        font-size: 1.3rem;
        font-weight: bold;
      }

      #close_project {
        position: absolute;
        right:0.5rem;
        top: 0.45rem;
        cursor: pointer;
        color: gray;

        &:hover {
          color: red;
        }
      }
    }
  }

/* ----------------------- NPO public profile ---------------------- */

.organization_info {
  background-color: none;
  position: fixed;
  padding-top: 4rem;
  padding-left: 3rem;
  padding-right: 1rem;
  top: 2.5rem;
  height: 85%;
  width: 16%;
  z-index: 1;
  overflow: scroll;
  color: $text-color;


  .basic_info {
  font-size: 0.9rem;
  width: 100%;

    .org_title {
      position: relative;
      font-size: 1rem;

      .logo_container {
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        width: 12rem;
        height: 12rem;
        position: relative;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid $light-gray;
        border-radius: 3px;

        .logo {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 97.5%;

        }

      }
      .org_name {
        position: relative;
        margin: 0.5rem auto;
        margin-bottom: 1rem;
        font-weight: bold;

      }
    }
  
  .cause {
    border: 1px solid $text-color;
    font-size: 1rem;
    border-radius: 3px;
    display: inline-block;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .email, .website, .city, .org_size {
    margin: 0.5rem 0;
  }

  }
}

.org_details {
  position: relative;
  background-color: none;
  margin-right: 3rem;
  padding-top:2rem;
  padding-bottom:2rem;
  min-height: 40rem;
  margin-left: 22.5%;
  overflow: hidden;

  .mission, .description, .org_projects {
    margin: 2rem 0;
  }

}
